* {
	margin: 0;
	padding: 0;
}

.first22 {
	height: 1rem;
	display: flex;
	margin-top: 0.853333rem;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #E0E0E0;
}

.goback22 {
	width: 0.28rem;
	height: 0.52rem;
	position: absolute;
	left: 5%;
}

.search22 {
	margin-left: 0.226666rem;
	font-size: 0.48rem;
	color: black;
}
.btn22{
	width: 2.4rem;
	height: 0.786666rem;
	background-size: 2.4rem 0.786666rem;
	background-repeat: no-repeat;
	text-align: center;
	line-height:0.786666rem ;
	position: absolute;
	bottom: 0;
	color: white;
}
.yuan22{
	width: 1.386666rem;
	height: 1.4rem;
	background-size:1.386666rem 1.4rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
	margin-left: 1rem;
}
.yuan22 p:nth-child(1){
	font-size: 0.226666rem;
}
.yuan22 p:nth-child(2){
	font-size: 0.546666rem;
}
.second22 {
	margin-top: 0.386666rem;
	display: flex;
}

.img22 {
	width: 2.853333rem;
	height: 2.853333rem;
	border-radius: 0.56rem;
	margin-left: 0.453333rem;
}

.text22 p:nth-child(1) {
	width: 3.5rem;
	font-size: 0.52rem;
	color: black;

}

.text22 p:nth-child(2) {
	font-size: 0.373333rem;
	color: #ADADAD;
	margin-top: 0.16rem;
}

.text22 {
	margin-left: 0.413333rem;

	position: relative;
}

.text22 button {
	width: 1.773333rem;
	height: 0.706666rem;
	background-color: #06B2B6;
	font-size: 0.373333rem;
	border: none;
	color: white;
	border-radius: 30px;
	margin-top: 0.346666rem;
}

.third22 {
	height: 1.5rem;
	display: flex;
	margin-top: 0.56rem;
	border-bottom: 1px solid #E0E0E0;
}

.starImg22 {
	display: flex;

}
.brief22{
	height: 1rem;
	display: flex;
	line-height: 1rem;
	align-items: center;

}
.brief22 img{
	width: 0.106666rem;
	height: 0.566666rem;
	vertical-align: middle;
}
.brief22 p{
	font-size: 0.45rem;
	margin-left: 0.3rem;
}
.starImg22 img {
	width: 0.44rem;
	height: 0.426666rem;
}

.thirdOne22 {
	display: flex;
	flex-flow: column;
	margin-left: 0.453333rem;
}

.thirdOneDiv22 {
	display: flex;
	align-items: center;
}

.starNum22 {
	font-size: 0.56rem;
	color: #8E8F93;
}

.score22 {
	font-size: 0.28rem;
	color: #C0C0C2;
	margin-top: 0.1rem;
}

.thirdTwo22 {
	width: 1.066666rem;
	height: 0.653333rem;
	background-size:1.066666rem 0.653333rem;
	display: flex;
	flex-flow: column;
	margin-left: 4.6rem;
	text-align: center;
	line-height:0.653333rem;
}

.thirdTwo22 p:nth-child(1) {
	font-size: 0.32rem;
	color: #2CCBCE
}



.thirdThree22 {
	width: 1.066666rem;
	height: 0.653333rem;
	background-size:1.066666rem 0.653333rem;
	display: flex;
	flex-flow: column;
	margin-left: 0.2233333rem;
	text-align: center;
	line-height:0.653333rem;
}

.thirdThree22 p:nth-child(1) {
	font-size: 0.32rem;
	color: #2CCBCE;
	
}



.fourth22 {
	width: 100%;
	margin-top: 0.36rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.fourthOne22 {
	width: 100%;

	overflow-x: scroll;
	display: inline-block;
	white-space: nowrap;
}

/*.fourthOne img:nth-child(1) {
	margin-left: 0.48rem;
}*/

.fourthOne22 img {
	width: 90%;

	border-radius: 0.56rem;
	margin: 0 5%;
}
.fourthOne22 img:nth-child(3){
	margin: auto 0 auto 0.4rem;
}

.iphone22 {
	width: 90%;
	height: 60px;
	border-bottom: 1px solid #EBEBED;
	display: flex;
	align-items: center;
	margin: 0 auto;
	color: #87878A;
}

.iphone22 img {
	width: 0.293333rem;
	height: 0.466666rem;
}

.fourFooter22 {
	width: 100%;
}

.fourFooter22 p {
	margin-left: 0.293333rem;
}

.Fifth22 {
	width: 100%;
	display: flex;
	margin-top: 0.386666rem;
	justify-content: center;
}

.FifthOne22 {
	width: 90%;

}

.FifthOneText22 {
	font-size: 0.373333rem;
}


.FifthOneText22 span{
	display: inline-block;
	width: 0.226666rem;
	height: 0.226666rem;
	border-radius: 50%;
	background-color: #909090;
}
.FifthOneText22 div{
	display: flex;
	align-items: center;
	color: #909090;
	font-size: 0.346666rem;
	margin-top: 0.1rem;
}
.FifthOneText22 div p{
	width: 10rem;
    height: auto;
margin-left: 0.14rem;
}
.FifthOneName22 {
	margin-top: 0.786666rem;
}

.FifthOneName22 p:nth-child(1) {
	color: #06B2B6;
	font-size: 0.373333rem;
}

.FifthOneName22 p:nth-child(2) {
	color: #939497;
	font-size: 0.32rem;
	margin-bottom: 0.986666rem;
}

.Sixth22 {
	width: 100%;
	display: flex;
	margin-top: 0.386666rem;
	justify-content: center;
}

.SixthOne22 {
	width: 90%;

}
.SixthOnecenter22{
	width: 100%;
	height:4.906666rem;
	margin-top: 0.25rem;
	background-color: #F8F8F8;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
}
.SixthOnecenter22 div{
	width: 50%;
	height: 1.5rem;

}
.SixthOnecentersmallone22 p:nth-child(1),.SixthOnecentersmalltwo22 p:nth-child(1),.SixthOnecentersmallthree22 p:nth-child(1),.SixthOnecentersmallfour22 p:nth-child(1),.SixthOnecentersmallfive22 p:nth-child(1){
	margin-left: 0.4rem;
	margin-top: 0.3rem;
	font-size: 0.346666rem;
	color: #666666;
}
.SixthOnecentersmallone22 p:nth-child(2),.SixthOnecentersmalltwo22 p:nth-child(2),.SixthOnecentersmallthree22 p:nth-child(2),.SixthOnecentersmallfour22 p:nth-child(2),.SixthOnecentersmallfive22 p:nth-child(2){
	margin-left: 0.4rem;
	margin-top: 0.1rem;
	font-size: 0.293333rem;
	color: #909090;
}
/*.SixthOne div:nth-child(1) {
	display: flex;
	align-items: center;
}

.SixthOne div:nth-child(2) {
	display: flex;
}

.SixthODiv p:nth-child(1) {
	font-size: 0.533333rem;
}

.SixthODiv p:nth-child(2) {
	margin-left: 4.9rem;
	font-size: 0.4rem;
	color: #06B2B6;
}

.SixthtDiv {
	margin-top: 0.4rem;
	color: #939397;
	font-size: 0.346666rem;
}

.SixthtDiv p:nth-child(2) {
	margin-left: 6.3rem;
}

.SixthcDiv {
	margin-top: 0.386666rem;
	font-size: 0.346666rem;
}

.SixthcDiv p:nth-child(2) {
	margin-top: 0.213333rem;
}

.SixthcDiv p:nth-child(3) {
	margin-top: 0.213333rem;
	margin-bottom: 0.88rem;
}*/

.Seventh22 {
	width: 100%;
	/*display: flex;*/
	margin-top: 0.386666rem;
	justify-content: center;
}

.SeventhOne22,
.SeventhTwo22,
.SeventhThree22,
.SeventhFour22,
.SeventhFive22,
.SeventhSix22,
.SeventhSeven22,
.SeventhEight22 {
	width: 90%;
	height: 1.12rem;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	font-size: 0.346666rem;
	border-bottom: 1px solid #EBEBED;
}

.SeventhTwo22 p:nth-child(1),
.SeventhThree22 p:nth-child(1),
.SeventhFour22 p:nth-child(1),
.SeventhFive22 p:nth-child(1),
.SeventhSix22 p:nth-child(1),
.SeventhSeven22 p:nth-child(1),
.SeventhEight22 p:nth-child(1) {
	color: #939397;
}

.footer22 {
	width: 100%;
	display: flex;
	margin-top: 0.693333rem;
	justify-content: center;
	color: #666666;
	font-size: 0.266666rem;
}

.footer22 div {
	width: 90%;
}

#myProgress22 {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #ddd;
}

#myBar22 {
	    width: 10%;
    height: 50px;
    background-color: #06B2B6;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    color: white;
}