<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
</head>
<body>
	<div th:fragment="common_css">
	    <!-- Common styles and scripts -->
	    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	    
		<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
		<!-- MetisMenu CSS -->
		<link th:href="@{/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
	    <!-- Custom CSS -->
	    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
	    
	    <!-- Custom CSS -->
	    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
	</div>
</body>
