<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naoh.iossupersign.storage.mysql.mapper.AppleAccountMapper">

    <sql id="Base_Column_List">
      id, account, `count`, p8 , issuer_id , kid , p12 , cer_id , bundle_ids , create_time
    </sql>

    <select id="selectAppleAccountByCondition" resultType="AppleAccountPO">
        select
        <include refid="Base_Column_List"/>
        from apple_account
        <where>
            <if test=' appleAccountPO!=null and appleAccountPO.account != null and appleAccountPO.account != ""'>
                and account = #{appleAccountPO.account}
            </if>
        </where>
    </select>

    <select id="getAppleAccountByAccount" resultType="AppleAccountPO"
            parameterType="com.naoh.iossupersign.model.po.AppleAccountPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apple_account
        WHERE account = #{account}
    </select>

    <insert id="insert" parameterType="com.naoh.iossupersign.model.po.AppleAccountPO">
    insert into apple_account (account, `count`, p8 , issuer_id , kid , p12 , cer_id , bundle_ids , create_time)
    values (#{account,jdbcType=VARCHAR},
        #{count,jdbcType=INTEGER},
        #{p8,jdbcType=VARCHAR},
        #{issuerId,jdbcType=VARCHAR},
        #{kid,jdbcType=VARCHAR},
        #{p12,jdbcType=VARCHAR},
        #{cerId,jdbcType=INTEGER},
        #{bundleIds,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP})
  </insert>

    <select id="getAppleAccountByAccount" resultType="AppleAccountPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apple_account
        WHERE id = #{id}
    </select>

    <select id="selectEnableAppleAccounts" resultType="AppleAccountPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apple_account
        <![CDATA[
        where  `count` < #{deviceLimit} order by `count` desc limit #{sizeLimit}
        ]]>
    </select>

    <select id="updateDeviceCountLok">
        SELECT 1 FROM apple_account WHERE account = #{account} FOR UPDATE;
    </select>

    <update id="updateAccountDeviceCount">
        update apple_account set  `count` = #{deviceCount} where account = #{account}
    </update>

</mapper>