<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naoh.iossupersign.storage.mysql.mapper.DeviceMapper">

    <sql id="Base_Column_List">
        id,udid,apple_id,device_id,create_time
    </sql>

    <insert id="insert" parameterType="com.naoh.iossupersign.model.po.DevicePO">
    insert into device (udid,apple_id,device_id,create_time)
        values (
            #{udid,jdbcType=VARCHAR},
            #{appleId,jdbcType=INTEGER},
            #{deviceId,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into device (udid,apple_id,device_id,create_time)
        values
        <foreach collection="devicePOS" item="record" index="index"
                 separator=",">
            (#{record.udid,jdbcType=VARCHAR}, #{record.appleId,jdbcType=INTEGER},
            #{record.deviceId,jdbcType=VARCHAR}, #{record.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <select id="getDeviceByUdid" resultType="DevicePO">
      select <include refid="Base_Column_List"/>
        from device
        where udid = #{udid,jdbcType=VARCHAR}
    </select>


    <select id = "getAccountDeviceByUdid" resultType="AccountDevicePO">
        SELECT d.udid, d.device_id, a.account, a.p8, a.issuer_id, a.kid, a.p12,
        a.cer_id, a.bundle_ids
        from device d
        join apple_account a on d.apple_id = a.id
        where d.udid = #{udid}
    </select>

</mapper>
