<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naoh.iossupersign.storage.mysql.mapper.IpaPackageMapper">

    <sql id="Base_Column_List">
    id, `name`, icon, version, build_version, mini_version, bundle_identifier,
    link, summary, create_time, `count`, update_time, ipa_download_id
  </sql>

    <select id="selectPage" resultType="IpaPackagePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ipa_package
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType = "IpaPackagePO">
        insert into ipa_package(`name`, icon, version, build_version, mini_version, bundle_identifier,
    link, summary, ipa_download_id)
    values(#{name}, #{icon}, #{version}, #{buildVersion}, #{miniVersion}, #{bundleIdentifier}, #{link}, #{summary}, #{ipaDownloadId})
    </insert>

    <update id="updateById">
        update ipa_package
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="buildVersion != null">
                build_version = #{buildVersion},
            </if>
            <if test="miniVersion != null">
                mini_version = #{miniVersion},
            </if>
            <if test="bundleIdentifier != null">
                bundle_identifier = #{bundleIdentifier},
            </if>
            <if test="link != null">
                link = #{link},
            </if>
            <if test="summary != null">
                summary = #{summary},
            </if>
            update_time = now()
        </set>
        where id = #{id}

    </update>

    <select id="selectById" resultType="IpaPackagePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ipa_package
        where id = #{id}
    </select>

    <select id="selectByDownloadId" resultType="IpaPackagePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ipa_package
        where ipa_download_id = #{ipaDownloadId}
    </select>

</mapper>
