<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naoh.iossupersign.storage.mysql.mapper.MemberMapper">

    <sql id="Base_Column_List">
    id, account, password, create_time
  </sql>

    <select id="getByAccount" resultType="MemberPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM member
        WHERE account = #{account}
    </select>

    <select id="selectMemberByCondition" resultType="MemberPO">
        select
        <include refid="Base_Column_List"/>
        from member
        <where>
            <if test=' memberPO!=null and memberPO.account != null and memberPO.account != ""'>
                and account = #{memberPO.account}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.naoh.iossupersign.model.po.MemberPO">
    insert into member (account, password, create_time)
    values (#{account,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP})
  </insert>

    <update id="update" parameterType="com.naoh.iossupersign.model.po.MemberPO" >
        update member
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
        </set>
        where account = #{account}
    </update>

</mapper>
